body {
    font-family: cursive;
    text-align: center;
    background-color: #f0f0f0;
    background-image: url("QuizStock.jpg"); 
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat; 
}

#quiz-container {
    width: 75%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 45px;
  background-image: linear-gradient(to bottom,#ffc420,white); 
}



nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffc420;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    nav li {
        float: none;
        display: block;
    }
}


#start-screen {
    text-align: center;
    padding: 50px;
}

#start-screen h2 {
    margin-bottom: 20px;
}



button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #ffc420;
    color: black;
    cursor: pointer;
  font-family: cursive;
}

button:hover {
    background-color: #ffc420;
   box-shadow: 0px 0px 5px #ffc420, 0px 0px 25px white,0px 0px 50px #ffc420, 0px 0px 100px white, 0px 0px 200px #ffc420;
  transform: translateY(-10px);
  transition:transform 0.3s, 0.3s,  0.3s;
}

.choice {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid#ffc420;
    border-radius: 5px;
    cursor: pointer;
}

.choice:hover {
    background-color: #f0f0f0;
}

.hidden {
    display: none;
}

.start {
    display: block;
}
